<div id="messages" data-user-id="<%= user.id %>">
  <div class="chat-header clearfix">
    <%= gravatar_for user %>
    <div class="chat-about">
      <div class="chat-with">Chat with <%= user.name %></div>
    </div>
    <i class="fa fa-star"></i>
  </div>

  <div class="chat-history" id="messages-list">
    <ul>
      <%= render "messages/conversation_content", messages: messages, user: user %>
    </ul>
  </div>

  <form class="new_message chat-message clearfix">
    <input name="user_id" type="hidden" value="<%= user.id %>">
    <textarea name="body" class="form-control text-area" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
  </div>
</div>
