<div class="container-chat clearfix">
  <div class="people-list" id="people-list">
    <div class="search">
      <input type="text" placeholder="search" />
      <i class="fa fa-search"></i>
    </div>
    <ul class="list">
      <% @users.each do |user| %>
        <li class="clearfix" id="user-id-<%= user.id %>">
          <%= gravatar_for user %>
          <div class="about">
            <%= link_to user.name, "#", class: "current-user-#{current_user.id}" %>
            <div class="status">
              <% if user.online %>
                <div class="fa fa-circle online" id="user-<%= user.id %>-status"> <span>online</span></div>
              <% else %>
                <div class="fa fa-circle offline" id="user-<%= user.id %>-status"> <span>offline</span></div>
              <% end %>
            </div>
          </div>
          <div id="notice">
            <div id="count-message-<%= user.id %>" class="count-message">0</div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="chat">
    <div id="conversation">
      <%= render "messages/conversation", messages: @messages_first, user: @users.first %>
    </div>
  </div>
</div>
